body,
h1 {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}
body {
  height: 100%;
  background-color: rgb(190, 150, 206);
}

.title h1 {
  margin: 25px;
  text-align: center;
  font-family: "Jost", sans-serif;
  font-size: 4rem;
  color: white;
}

.wrapper {
  width: 440px;
  height: 430px;
  margin: 0 auto;
  position: relative;
  top: 80px;
}
.wrapper .cell {
  background-color: aliceblue;

  cursor: pointer;
  float: left;

  height: 200px;
  width: 200px;

  margin: 5px;
  border: 5px solid transparent;
  border-radius: 20px;

  text-align: center;
  font-size: 40px;
  color: white;
}
.wrapper .counter {
    margin-bottom: 20px;
    text-align: center;
    font-family: "Jost", sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
}
.wrapper .instruction {
  height: 100px;
  text-align: center;
  font-family: "Jost", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: rgb(8, 31, 160);
}
.wrapper :hover{
  opacity: 0.75;
}
